.site-footer {
    background-color: $color__dark;
    color: $color__light;
    padding: 2rem;
    display: flex;
    flex-direction: column;    
    align-items: center;
    font-size: 1rem;
}


.logo img{
    width: 150px;
    height: auto;
    filter: invert(100%);
}

#menu-footer-menu {
    margin: 0;
    padding: 0;
}

.site-info {
    text-align: center;    
}

.footer-menu h3 {    
    font-size: 1.4rem; 
    margin: 1.5rem 0 0 0;  
}

@include mq(em(900)) {
    .site-footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .site-info {
        font-size: 1rem;
        padding: 0 2rem;
    }

    .footer-menu {
        padding: 0 2rem;
    }

    .logo img {
        padding: 0 2rem;
    }
}

@include mq(em(1200)) {
    .site-footer {
        padding: 2rem 10rem; 
    }
}