header.site-header {
    background-color: $color__dark;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding: 0 1rem;
    border-top: 3px solid $color__secondary;

    .site-branding .site-title a {
        text-decoration: none;
        color: $color__light;
        text-transform: uppercase;
        font-family: $font__header;
        font-weight: 700;
        font-size: 2rem;
    }
}