body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.

	main {
		max-width: 75rem;
		margin: 0 auto;
		min-height: 70vh;
		margin-bottom: 2rem;
	}
}
